<div id="view-{{abstractResource.html_id}}" class="abstract-resource" {% if not abstractResource.show %} style="display: none;"{% endif %}>
    <form id="form-{{abstractResource.html_id}}" method="post" action="">{% csrf_token %}
        <script type="text/javascript">
            $j("#form-{{abstractResource.html_id}}").submit(submitMe);
        </script>
        <input type="hidden" name="abstract-resource" value="{{abstractResource.id}}"/>
        <input class="button" type="Submit" name="abstract-resource-submit" value="Save" />
        <table>
            <tbody>
                {{abstractResource.form}}
            </tbody>
        </table>
        <label><b>Instances of this Abstract Resource:</b></label>
        <p>Check the box if you want the resource to be activated.  Then enter the name, and if you want one, a description.</p>
            {{abstractResource.newResourceFormSet.management_form}}
            
            <table>
                <tbody>
                    {% for form in abstractResource.newResourceFormSet %}
                        <tr>
                            {{form.id}}
                            <td>{{form.is_active}}</td>
                            <td>{{form.identifier}}</td>
                        </tr>
                        {% if form.id.errors or form.is_active.errors or form.identifier.errors %}
                            <tr><td colspan=2>{{form.id.errors}} {{form.is_active.errors}} {{form.identifier.errors}}</td></tr>
                        {% endif %}
                        <tr><td colspan=2>{{form.description}}</td></tr>
                        {% if form.description.errors or form.non_field_errors %}
                            <tr><td colspan=2>{{form.description.errors}} {{form.non_field_errors}}</td></tr>
                        {% endif %}
                    {% endfor %}
        
                </tbody>
            </table>
        <input class="button" type="Submit" name="abstract-resource-submit" value="Save" />
    </form>
</div>
{% if extra %}
    {% with abstract_resource_form="resources/abstract_resource_form.html" %}{% include abstract_resource_form with abstractResource=extra %}{% endwith %}
{% endif %}
