{% extends "main.html" %}

{% block title %}Resource Management{% endblock %}

{% block xtrajs %}
    <script type="text/javascript" src="/media/scripts/jquery.jstree.js"></script>
    <script type="text/javascript" src="/media/scripts/resourcetree.js"></script>
{% endblock %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
    <link rel="stylesheet" type="text/css" href="/media/styles/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/media/styles/jquery-ui/jstree/style.css" />
{% endblock %}

{% block content %}

<h1>Resource Management</h1>

<p>Explanatory text here.</p>

<table>
    <tr>
        <td style="vertical-align: top;">
            <div>
            <div id="resource-tree-view" style="width: 130px;">
                <ul>
                    {% for node in rootNewResourceTypes %}
                        {% include "resources/tree_node.html" %}
                    {% endfor %}
                </ul>
            </div>
            <script type="text/javascript">
                $j(document).ready(function () {renderTree($j("#resource-tree-view"));});
            </script>
        </td>
        <td style="vertical-align: top;">
            {% for newResourceType in newResourceTypes %}
                {% include "resources/new_resource_type_form.html" %}
            {% endfor %}
            {% for abstractResource in abstractResources %}
                {% include "resources/abstract_resource_form.html" %}
            {% endfor %}
            {% include "resources/new_resource_type_form.html" with newResourceType=addNewResourceType %}
            {% include "resources/abstract_resource_form.html" with abstractResource=addAbstractResource %}
        </td>
    </tr>
</table>
{% endblock %}
