{% extends "main.html" %}

{% block title %}Resource Management{% endblock %}

{% block xtrajs %}
    <script type="text/javascript" src="/media/scripts/jquery.jstree.js"></script>
    <script type="text/javascript" src="/media/scripts/resourcetree.js"></script>
{% endblock %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
    <link rel="stylesheet" type="text/css" href="/media/styles/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/media/styles/jquery-ui/jstree/style.css" />
{% endblock %}

{% block content %}

<h1>Resource Management</h1>

<p>From this page you can create the resource types that teachers will be able to request.  Resource Types are groups of resources that can be nested in a tree.  Abstract Resources are types of resources that are interchangable (like &quot;HDMI-enabled projectors&quot;) which can have particular instances, like &quot;Projector #3&quot;.</p>

<p>To edit a resource, click on it.  To create a Resource Type or Abstract Resource, right-click on whatever you want the parent to be, and choose the appropriate option.  To create a Resource Type that has no parent, right-click anywhere on the tree and click "Create Root Resource Type".  To delete a resource, right click on it.  Note that deletion can be undone, but not through this interface.</p>

<table>
    <tr>
        <td style="vertical-align: top;">
            <div>
            <div id="resource-tree-view" style="width: 180px;">
                <ul>
                    {% for node in rootNewResourceTypes %}
                        {% include "resources/tree_node.html" %}
                    {% empty %}
                        {% include "resources/tree_node.html" with node=addNewResourceType %}
                    {% endfor %}
                </ul>
            </div>
            <script type="text/javascript">
                $j(document).ready(function () {renderTree($j("#resource-tree-view"),true);});
            </script>
        </td>
        <td style="vertical-align: top;">
            {% for newResourceType in newResourceTypes %}
                {% include "resources/new_resource_type_form.html" %}
            {% endfor %}
            {% for abstractResource in abstractResources %}
                {% include "resources/abstract_resource_form.html" %}
            {% endfor %}
            {% include "resources/new_resource_type_form.html" with newResourceType=addNewResourceType %}
            {% include "resources/abstract_resource_form.html" with abstractResource=addAbstractResource %}
        </td>
    </tr>
</table>
{% endblock %}
