<div id="view-{{newResourceType.html_id}}" class="new-resource-type" {% if not newResourceType.show %} style="display: none;" {% endif %}>
    <form id="form-{{newResourceType.html_id}}" method="post" action="">{% csrf_token %}
        <script type="text/javascript">
            $j("#form-{{newResourceType.html_id}}").submit(submitMe);
        </script>
        <input type="hidden" name="new-resource-type" value="{{newResourceType.id}}"/>
        <table>
            <tbody>
                <tr><td colspan=2><input class="button" type="Submit" name="new-resource-type-submit" value="Save" /></td></tr>
                {{newResourceType.form}}
                <tr><td colspan=2><input class="button" type="Submit" name="new-resource-type-submit" value="Save" /></td></tr>
            </tbody>
        </table>
    </form>
</div>
{% if extra %}
    {% with new_resource_type_form="resources/new_resource_type_form.html" %}{% include new_resource_type_form with newResourceType=extra %}{% endwith %}
{% endif %}
