.class_error {
  background: #ccc;
}

.class_error td.info {
  background: #ccc;
}

div.error {
  //font-family: Arial;
#  font-variant: small-caps;
#  font-size: 50px;
    background-color: #00003C;
    color: red;
    border: 0px solid black;
    font-weight: bold;
    font-size: 0.9em;
    padding: 3px;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

#catalog table {
  padding: 0;
  margin: 0;
}

input.addbutton {
    background-color: #50002d;
    color: #ffffff;
    border: 0px solid black;
    font-weight: bold;
    font-size: 0.9em;
    padding: 3px;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

input.addbutton:hover {
    background-color: #ca4958;
}

input.addbutton_added {
    color: #ffffff;
    background-color: #990000;
    border: 0px solid black;
    font-weight: bold;
    font-size: 0.9em;
    padding: 3px;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

input.addbutton_disabled {
    color: #ffffff;
    background-color: #98e6af;
    border: 0px solid black;
    font-weight: bold;
    font-size: 0.9em;
    padding: 3px;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}
