#main p {
  color: #1E1E1E;
  font-family: georgia;
  font-size: 11pt;
  line-height: 125%;
}

a img {
  border: 0;
}

a:link {
  color: #AB72C4;
  text-decoration: none;
}

a:visited {
  color: #AB72C4
}

a:hover {
  color: #F76F6F
}

a:active {
  color: #AB72C4
}

h1 {
  font-size: 18pt;
  color: #29003C;
  font-family: georgia;
  font-style: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}

#content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background: #1E1E1E;
}

#footer {
  width: 800px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  background: #DBC6E6;
  border-top: 1px dashed #666699;
  overflow: hidden;
}

#topleft {
  //    background: #1E1E1E;
  background: #29003C;
  width: 200px;
  height: 180px;
  float: left;

}

#title_bar {
  background: #29003C;
  width: 600px;
  height: 140px;
  float: right;
  text-align: center;
  color: #FFFFFF;
}

table.loginform {
    border: 1px solid #666666;
}


#main {
  background-color: white;
  float: right;
  width: 600px;
}

#main_content {
  margin: 15px;
}

#main_header {
  background: #AB72C4;
  float: right;
  width: 600px;
  min-height: 30px;
  color: #FFFFFF;
  font-family: georgia;
  font-style: italic;
  font-size: 11pt;
  text-align: center;
  vertical-align: middle;
  margin: 0;
}

#navbar {
  float: left;  
  width: 200px;
  background: #1E1E1E;
}

#navbar_content {
  border-top: 1px dashed #999999;
  margin: 15px;
}

#nav_buttons {
  background: #29003C;
  width: 600px;
  height: 40px;
  float: right;
  text-align: center;
}

a.navbutton {
    padding: 4px;
    margin: 6px;
    border: 1px solid #DBC6E6;
    background-color: #DBC6E6;
    font-family: Arial, sans-serif;
    font-size: 1.0em;
    font-weight: bold;
    color: #29003C;
    text-decoration: none;
}

a.navbutton:hover {
    border: 1px solid #0066FF;
    text-decoration: underline;
    background-color: #FFFFFF;
    color: #330000;
}

#navbar_header {
  font-family: Georgia, serif;
  background: #DBC6E6;
  text-align: center;
  float: left;
  width: 200px;
  height: 30px;
  vertical-align: middle;
  //    border-bottom: 1px dashed #AB72C4;
}


.announcementlink_title {
  color: #DBC6E6;
  font-size: 11pt;
  line-height: 140%;
  font-weight: bold;
}

#navbar {
  color: #FFFFFF;
  font-size: 80%;
  line-height: 130%;
}

#navbar p {
  color: #FFFFFF;
  margin: 0pt;
//  margin-bottom: pt;
}

#navbar a:link {
  color: #DBC6E6;
  text-decoration: none;
}

#navbar a:visited {
  color: #DBC6E6;
}

#navbar a:hover {
  color: #AB72C4;
}

#navbar a:active {
  color: #DBC6E6;
}

/* Nav bar links */
#navbar_links {
    padding-left: 10px;
}

.divsecondarynavlink {
  font-family: Arial, Lucida, Helvetica, sans-serif;
  color: #FFFFFF;
  line-height: 133%;
  list-style: none;
  margin: 0px;
}

.indent {
    padding-left: 15px;
}

.divsecondarynavlink .bullet {
  margin-left: 1px;
  text-decoration: none;
}

.divsecondarynavlink .bullet:hover {
  text-decoration: none;
}


/* Section-specific background colors from Chicago */
.learn {
  color: #B8E879;
}

.teach {
  color: #FCC742;
}

.volunteer {
  color: #99C2F7;
}

.more_info {
  color: #F76F6F;
}


/*  Generic prettifications for forms   */

/* input box */
.inputbox {
  font-family: Arial, Lucida, Helvetica, sans-serif;
  width: 80px;
  border: solid 1px #000000;
  margin: 1px;
}
/* select box */
.selectbox {
  font-family: Arial, Lucida, Helvetica, sans-serif;
  width: 100px;
  margin: 1px;
}

div.note, div.info, div.errormsg, div.question { 
  text-align: left;
  font-family: arial;
  padding: 5px 0px 5px 38px;
  border: 2px groove #999;
  margin: 10px;
  overflow: visible;
  width: 450px;
}
