#main p {
  color: #141414;
  font-family: georgia;
  font-size: 11pt;
  line-height: 125%;
}

a img {
  border: 0;
}

a:link {
  color: #ca4958;
  text-decoration: none;
}

a:visited {
  color: #ca4958
}

a:hover {
  color: #c6aae5
}

a:active {
  color: #ca4958
}

h1 {
  font-size: 18pt;
  color: #50002d;
  font-family: georgia;
  font-style: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: georgia, serif;
}

#content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background: #141414;
/*  overflow: hidden; */
}

#topleft {
  background: #141414;
  width: 200px;
  height: 189px;
  float: left;
}

#nav_buttons {
  background: #50002d;
  float: none;
}

#nav_button1 {
  width: 150px;
  height: 189px;
  background-image: url(/media/images/linkf_01.gif); 
  float: left;
}
  
#nav_button1:hover {
  background-image: url(/media/images/linkr_01.gif);
}
  
#nav_button2 {
  width: 150px;
  height: 189px;
  background-image: url(/media/images/linkf_02.gif); 
  float: left;
}
  
#nav_button2:hover {
  background-image: url(/media/images/linkr_02.gif);
}
  
#nav_button3 {
  width: 150px;
  height: 189px;
  background-image: url(/media/images/linkf_03.gif); 
  float: left;
}
  
#nav_button3:hover {
  background-image: url(/media/images/linkr_03.gif);
}
  
#nav_button4 {
  width: 150px;
  height: 189px;
  background-image: url(/media/images/linkf_04.gif); 
  float: right;
}
  
#nav_button4:hover {
  background-image: url(/media/images/linkr_04.gif);
}
  
#navbar_header {
  background: #f5bcc6;
  float: left;
  width: 200px;
  height: 30px;
}

#main_header {
  background: #ca4958;
  float: right;
  width: 600px;
  min-height: 30px;
  color: #FFFFFF;
  font-family: georgia;
  font-style: italic;
  font-size: 11pt;
  text-align: center;
  vertical-align: middle;
  margin: 0;
}

#navbar {
  float: left;  
  width: 200px;
  background: #141414;
  margin-bottom: -250cm;
  padding-bottom: 250cm;
}

#navbar_content {
  margin: 15px;
}

#navbar_contrast {
    padding: 5px;
    background: #F5BCC6;
    color: #000000;
}

#navbar_contrast a {
    color: #29003C !important;
}

#main {
  background: white;
  float: right;
  width: 600px;
  margin-bottom: -250cm;
  padding-bottom: 250cm;
}

#main_content {
  margin: 15px;
}

.announcementlink_title {
  color: #f5bcc6;
  font-size: 11pt;
  line-height: 140%;
  font-weight: bold;
}

#navbar {
  color: #FFFFFF;
  font-size: 80%;
  line-height: 130%;
}

#navbar p {
  color: #FFFFFF;
  margin: 0pt;
//  margin-bottom: pt;
}

#navbar a:link {
  color: #f5bcc6;
  text-decoration: none;
}

#navbar a:visited {
  color: #f5bcc6;
}

#navbar a:hover {
  color: #ca4958;
}

#navbar a:active {
  color: #f5bcc6;
}

.learn {
  color: #91bbf5;
}

.teach {
  color: #fcc642;
}

.volunteer {
  color: #98e6af;
}

.more_info {
  color: #c6aae5;
}

div .emailwarning
{
  text-align: left;
  font-size: 1.0em;
  padding: 10px 10px 10px 10px;
  border: none;
  margin: 5px;
  overflow: visible;
  width: 540px;
  background-color: #98e6af;
  color: #FFFFFF;
}
